---
import Layout from "../layouts/Layout.astro";
import Timer from "../components/Timer.astro";
---

<Layout>
  <main>
    <h1 class="title">Memento Mori</h1>
    <div class="text-container">
      <p>
        Seconds are such a small unit of time for many. Just another second, we
        think. But, just like many things in life, seconds pile up. Before you
        know it, years have gone by. This is why you must always remember, dear
        me, that every second counts. Watch these timers and remember these are
        seconds you can <b>NEVER</b> take back.
      </p>
    </div>

    <Timer
      title="Flowers stop blooming in:"
      timestamp="SOME TIMESTAMP HERE"
      id="kiwi"
    />
    <hr />
    <Timer
      title="A new movie comes out in:"
      timestamp="SOME TIMESTAMP HERE"
      id="apple"
    />
    <hr />
    <Timer 
	title="Birthday in:" 
	timestamp="SOME TIMESTAMP HERE" 
	id="carrot" />
  </main>
</Layout>

<style>
  .text-container {
    margin: auto;
    width: 450px;
  }
  hr {
    color: white;
    border-radius: 10px;
    width: 500px;
  }
  .title {
    text-align: center;
  }
</style>
